@*Partial view（分部视图）是将部分 Razor 和 Html 标签放在一个独立的视图文件中，以便在不同的地方重复利用。*@
@*Partial view 和普通和 View 的使用没有什么区别，也可以使用强类型。*@
<div>
    This is the message from the partial view.
    @Html.ActionLink("This is a link to the Index action", "Index")
</div>
