*
{
    padding: 0;
    margin: 0;
}
body
{
    background: #1493D6 url(/Themes/images/Login/bg.jpg) no-repeat center top;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.boxLogin
{
    width: 502px;
    height: 274px;
    margin: 0 auto;
    background: url(/Themes/images/Login/bg2.png) no-repeat;
    color: #000000;
    position: relative;
}

dl, dd
{
    padding: 0;
    margin: 0;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7
{
    position: absolute;
}
.s1
{
    left: 177px;
    top: 95px;
    width: 50px;
}
.s2
{
    left: 230px;
    top: 91px;
}
.s3
{
    left: 177px;
    top: 130px;
    width: 50px;
}
.s4
{
    left: 230px;
    top: 126px;
}
.s5
{
    left: 177px;
    top: 165px;
    width: 50px;
}
.s6
{
    left: 230px;
    top: 161px;
}
.s7
{
    left: 20px;
    top: 195px;
    width: 460px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 1px;
}
.s8
{
    position: absolute;
    left: 40%;
    top: 205px;
    cursor: pointer;
}
.txt
{
    border: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,ו;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 15px;
}
.inputbackground
{
    background: #EAFDE9;
}
.errorMsg
{
    color:Red;
    padding-left:5px;
    
    }
.copyright
{
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    line-height: 60px;
}
.sign
{
    border: medium none;
    width: 130px;
    height: 40px;
    border-style: none;
    background: none;
    background-image: url("/Themes/images/Login/137.png" );
    cursor: pointer;
}
.sign:hover
{
    background-position: 0 -40px;
}
.sign_hover
{
    background-position: 0 -40px;
}
.load
{
    position: absolute;
    z-index: 3000;
    left: 60.5%;
    top: 218px;
    display:none;
}
.signload
{
    border: medium none;
    width: 130px;
    height: 40px;
    border-style: none;
    background: none;
    background-image: url("/Themes/images/Login/login-v2-load.png" );
}
