<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICzd360DuplexServices">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:9999/Czd360DuplexServicesTcp"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICzd360DuplexServices"
          contract="ICzd360DuplexServices" name="NetTcpBinding_ICzd360DuplexServices">
        <identity>
          <userPrincipalName value="YANZHIWEI-IT-PC\YanZhiwei" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>